{% extends "index.html" %}

{% block content %}

<script>
function show(id){
	el=getEl(id);
    el1=getEl('butt1');
    el2=getEl('butt2');
	if (el.style.display=="none"){
		el.style.display="block";
    if (id=='start'){
        el1.src="/static/css/but12.png";
        el2.src="/static/css/but14.png";
    }
    else{
        el1.src="/static/css/but11.png";
        el2.src="/static/css/but13.png";
    }}
}
	function hide(id){
	el=getEl(id);
    el1=getEl('butt1');
    el2=getEl('butt2');
	if (el.style.display=="block"){
		el.style.display="none";

        if (id=='start'){
            el1.src="/static/css/but11.png";
            el2.src="/static/css/but13.png";
        }
        else{
            el1.src="/static/css/but12.png";
            el2.src="/static/css/but14.png";
        }}

}

function getEl(id){
		return document.getElementById(id);
}
</script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />

<div align="center">
<a href="javascript:show('aktpot');hide('start');">
    <img src="/static/css/but12.png" border="0" id="butt1"></a>
<a href="javascript:show('start');hide('aktpot');">
    <img src="/static/css/but14.png" border="0" id="butt2"></a>
</div>

<div id="aktpot" style="display:none;">
<table id = "table" align="center">
  <tr>
  <td></td>
  <form method="post" action="/queen/" >
    <td>Задача</td>
    <td align="center">Акт</td>
    <td width="30">Вкл</td>
    <td>Сделал</td>
  </tr>

  <tr>
    {% for thr in thr_str %}
    <td><input name="checkbox_{{thr.id}}" type="checkbox" id = "table" value="{{thr.id}}"/></td>
    <td>{{thr.task}}</td>
    <td id = {% if thr.stat %}
            "on">
            {% else %}
            "off">
            {% endif %}
            &nbsp;</td>
    <td id = {% if thr.active %}
            "on">
            {% else %}
            "off">
            {% endif %}
            &nbsp;</td>

    <td>{{thr.work_done}}</td>
    </tr>
    {% endfor %}

<tr id = "input">

        <td></td>
        <td>
            {{ tabform.whatdo }}
        </td>
        <td><input name="do" type="submit" id="input_t" value="Выполнить"/></td>
</tr>
</table>


<p align="center"><input name="open" type="submit" id = "input_t" value="Открыть"/></p>
</form>
</div>

<div id="start" style="display:block;">
    {% if addform.errors %}
        <p style="color: red;">
            Please correct the error{{ addform.errors|pluralize }} below.
        </p>
    {% endif %}
    <form id = "table" method="post" action="/queen/" align="center">{% csrf_token %}
        <table align="center" id="input_t">
            <p id = "table">Ссылка на стену группы</p>
            {{ addform.link.errors }}
            {{ addform.link }}
            <p id = "table">Колличество потоков</p>
            {{ addform.threads.errors }}
            {{ addform.threads }}
            <p id = "table">Предел скачивания листов</p>
            {{ addform.limit.errors }}
            {{ addform.limit }}
        </table>
    <input type="submit" name = "add" id="input_t" value="Запуск"/>
    </form>
</div>
{% endblock %}
