<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" content="Cebuella анализ комментариев и новостей" />  
<meta name="Keywords" content="анализ комментариев, vk.com" />  
<title>Cebuella</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
   <div class="header"> 
   </div>	   
  <div class="content">
  <h1 align="center"> </h1>
   <table width="761" align="center">
  <tr>
    <td width="141" valign="top">
    <p>&nbsp;</p>
	<a href="/" align="center"><img src="/static/css/but9.png" border="0"
        onmouseover="this.src='/static/css/but10.png'"
        onmouseout="this.src='/static/css/but9.png'"
        onmousedown="this.src='/static/css/but9.png'"
        onmouseup="this.src='/static/css/but10.png'"></a>
	<a href="/pavo/" align="center"><img src="/static/css/but5.png" border="0"
        onmouseover="this.src='/static/css/but6.png'"
        onmouseout="this.src='/static/css/but5.png'"
        onmousedown="this.src='/static/css/but5.png'"
        onmouseup="this.src='/static/css/but6.png'"></a>
	<a href="/table/3/" align="center"><img src="/static/css/but3.png" border="0"
        onmouseover="this.src='/static/css/but4.png'"
        onmouseout="this.src='/static/css/but3.png'"
        onmousedown="this.src='/static/css/but3.png'"
        onmouseup="this.src='/static/css/but4.png'"></a>
	<a href="/queen/" align="center"><img src="/static/css/but7.png" border="0"
        onmouseover="this.src='/static/css/but8.png'"
        onmouseout="this.src='/static/css/but7.png'"
        onmousedown="this.src='/static/css/but7.png'"
        onmouseup="this.src='/static/css/but8.png'"></a>
		</td>
    <td width="608">
		{% block content %}{% endblock %}
      </td>
  </tr>
</table>
  </div>
   <div class="footer">
    <p align="center">© Cebuella 2012</p>
  </div>
</div>
</body>
</html>
