<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=koi8-ru" />
<title>Cuebella</title>

<link href="/static/css/cu.css" rel="stylesheet" type="text/css" />
</head>

<body leftmargin="0" marginheight="0">
<div id = "stat">Start download information</div>
<p>&nbsp;</p>

<form action="/queen/" method="get">
<div id="top">
 <p>&nbsp;</p>
</div>
<div id="middle">
  <p>&nbsp;</p>
  <p id="input">

    <input name="link" type="text" id="input_t"/>
    <input type="submit" id="input" value="GO"/>
  </p>
  <p id = "input">Threads</p>
    <table width="300" align="center" id="input">
      <tr>
        <td ><label>
          <input type="radio" name="threads" value="1" />
        1</label></td>

        <td><label>
          <input type="radio" name="threads" value="2" />
        2</label></td>

        <td><label>
          <input type="radio" name="threads" value="3" />
        3</label></td>

        <td><label>
          <input type="radio" name="threads" value="4" />
        4</label></td>

        <td><label>
        <input type="radio" name="threads" value="5" /> 
        5</label></td>
      </tr>
    </table>
    </form>
    <p>&nbsp;</p>
</div>
<div id="botom">
 <p>&nbsp;</p>
</div>
</body>
</html>


