<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=koi8-ru" />
<title>Cuebella</title>
<link href="cu.css" rel="stylesheet" type="text/css" />
</head>

<body leftmargin="0" marginheight="0">
<div id = "stat">Wellcome to Cuebella</div>
<div id="top">
 <p>&nbsp;</p>
</div>
<div id="middle">
  <p>&nbsp;  </p>
  <p>
    <input name="textfield" type="text" id="input_t"/>
    <input name="Submit" type="submit" id="input" value="GO" height="40" />
  </p>

  <p>&nbsp;</p>
  <p>&nbsp;  </p>
</div>
<div id="botom">
 <p>&nbsp;</p>
</div>
</body>
</html>


