{% extends "index.html" %}

{% block content %}
<link href="/static/css/user_f.css" rel="stylesheet" type="text/css" />

<table width="600" align="center" id = "tab_top_b">
<p>&nbsp;</p>
<p id="input_t">{{ str_l }}</p>
<td width="300">Новости</td>
<td>Комментарии</td>
<td>Лайки</td>
</table>
{% for n in news %}
<table width="600" align="center" id = "tab_middle_b">
<td width="3"></td>
<td width="300"><div align = "justify"><a href = "http://vk.com/wall{{n.sw_id}}"  id = "tab_middle_t">{{n.sh}}</div></td>
<td width="150">{{n.coms}}</td> 
<td>{{n.likes}}</td>
</table>
{% endfor %}
<p>&nbsp;</p>
<form action="/chart/" method="get" id="input">
<input type="submit" id="input_t" value="Вернуться"/>
</form>
{% endblock %}
